body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-color: Grey;
  border-width: 8px;
  width: 70px;
}

h1:hover {
  color: #F76B8A;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
